# See https://www.dartlang.org/guides/libraries/private-files

build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

.dart_tool/

**.DS_Store

.flutter-plugins
/flutter-plugins-dependencies
.flutter-plugins-dependencies
**.flutter-plugins-dependencies
.dart_tool/package_config.json
**.flutter*

pubspec.lock

.metadata

secrets.dart

firebase_options.dart

android/app/src/main/AndroidManifest.xml

.env